@font-face {
  font-family: Montserrat Regular;
  src: url(../assets/fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat Semi Bold;
  src: url(../assets/fonts/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: Montserrat Bold;
  src: url(../assets/fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: Lobster;
  src: url(../assets/fonts/Lobster.otf);
}

@mixin header($font-size, $line-height) {
  font-family: Montserrat Bold;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
}

@mixin subheader($font-size, $line-height) {
  font-family: Montserrat Semi Bold;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
}

@mixin text($font-size, $line-height) {
  font-family: Montserrat Regular;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
}

@mixin logo($font-size, $line-height) {
  font-family: Lobster;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
}

@mixin button($font-size, $line-height) {
  font-family: Lobster;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
}
