.types {
  &-container {
    margin: 0 auto;
    animation: fadein 2s;
    background-color: $primary;
    color: $white;
    max-width: 414px;
    max-height: 736px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__header {
      @include subheader(32px, 32px);
      margin: 32px 0 64px 0;
    }
    &__typenum {
      height: 100px;
      margin: 8px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
    &__back {
      margin-top: 32px;
      height: 100px;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
