// WELCOME PAGE

.welcome {
  &-container {
    margin: 0 auto;
    animation: fadein 2s;
    background-color: $primary;
    color: $white;
    max-width: 414px;
    max-height: 736px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
      @include logo(48px, 48px);
      align-self: center;
      margin-bottom: 32px;
    }
    &__logo {
      height: 250px;
      margin-bottom: 32px;
    }
    &__text {
      @include text(20px, 24px);
      margin-bottom: 32px;
      text-align: justify;
      text-justify: inter-word;
      font-weight: bolder;
    }
    &__test,
    &__type {
      @include subheader(24px, 24px);
      background-color: $primary;
      border: 4px solid $white;
      color: $white;
      width: 250px;
      height: 48px;
      margin-bottom: 16px;
      transition: all 0.5s ease;
      &:focus {
        outline: 0;
      }
      &:hover {
        cursor: pointer;
        outline: none;
        transform: scale(1.05);
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
