@font-face {
  font-family: Montserrat Regular;
  src: url(../assets/fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat Semi Bold;
  src: url(../assets/fonts/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: Montserrat Bold;
  src: url(../assets/fonts/Montserrat-Bold.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #38e4ae;
  color: #fafafa;
}

.welcome-container {
  margin: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-container__header {
  font-family: Montserrat Semi Bold;
  font-size: 48px;
  line-height: 48px;
  color: #fafafa;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 16px;
}

.welcome-container__logo {
  height: 250px;
  margin-bottom: 32px;
}

.welcome-container__text {
  font-family: Montserrat Regular;
  font-size: 20px;
  line-height: 24px;
  color: #fafafa;
  margin-bottom: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.welcome-container__test, .welcome-container__type {
  font-family: Montserrat Semi Bold;
  font-size: 24px;
  line-height: 24px;
  color: #fafafa;
  background-color: #3997f9;
  border: none;
  border-radius: 30px;
  color: #fafafa;
  width: 250px;
  height: 48px;
  margin-bottom: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.welcome-container__test:hover, .welcome-container__type:hover {
  cursor: pointer;
  outline: none;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.types-container {
  margin: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.types-container__header {
  font-family: Montserrat Semi Bold;
  font-size: 32px;
  line-height: 32px;
  color: #fafafa;
  margin: 32px 0 64px 0;
}

.types-container__type {
  height: 100px;
  margin: 8px;
}

.type-container {
  margin: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-container__header {
  font-family: Montserrat Semi Bold;
  font-size: 32px;
  line-height: 32px;
  color: #fafafa;
  margin: 32px 0 64px 0;
}
/*# sourceMappingURL=main.css.map */